// SFCC rem is not set to 16px. This breaks our typography.
// We need to set size to 16px in order to use the correct font size.
.fontSizeOverride {
  *,
  *:before,
  *:after {
    font-size: 16px;
  }
}

.boxSizingOverride {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.productPageImagesContainer {
  // This ensures that the x-overflow occurs when the products container is
  // larger than 95vw - 1rem.
  max-width: calc(95vw - 1rem);
}
