@import "../styles/Colors.module.scss";

.addImageButtonContainer {
  display: flex;
  justify-content: center;
  justify-self: stretch;
  background: $color_invert_fg;
  border-radius: 4px;
  min-height: 200px;
  min-width: 200px;
  overflow: hidden;
  margin: 2px;
  padding: 0px;

  button {
    margin-top: 84px;
    cursor: pointer;
  }
}
