/* Search form content */
@media (min-width: 694px) {
  .ix-asset-simple-search-content {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 1;
  }
}

.ix-asset-simple-search-content:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #e8f0f4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ix-asset-simple-search-content {
  z-index: 200;
  padding-top: 3px;
  background-color: #fff;
  border: 1px solid #a6acb1;
  border-radius: 4px;
  z-index: 1;
}
/* Search form base wrapper */
@media (min-width: 694px) {
  .ix-asset-simple-search-wrapper {
    padding: 0 10px;
  }
}
@media (min-width: 540px) {
  .ix-asset-simple-search-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.ix-asset-simple-search-wrapper {
  display: -ms-flexbox;
  display: flex;
  padding: 6px 8px;
}
/* Search form input wrapper */
.ix-asset-simple-search-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  position: relative;
  height: 35px;
  overflow: hidden;
}
/* Search form input */
@media (min-width: 900px) {
  .ix-asset-simple-search-base-input {
    right: 100px;
  }
}

@media (min-width: 694px) {
  .ix-asset-simple-search-base-input {
    left: 26px;
  }
}
.ix-asset-simple-search-base-input {
  position: absolute;
  top: 0;
  left: 52px;
  right: 50px;
  height: 100%;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), linear;
}

.ix-asset-simple-search-base-input-field {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  color: inherit;
  flex: 1 1 auto;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 6px 0;
  text-overflow: ellipsis;
}
/* Search form search icon svg */
.ix-asset-simple-search-icon > svg:not(:root) {
  overflow: hidden;
}
.ix-asset-simple-search-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #475f72;
}
