.ix-grid-container {
  min-height: 100%;
  padding: 32px 16px;
  box-sizing: border-box;
  background-color: #e3e7eb;
}

.ix-grid {
  display: grid;
  grid-gap: 16px;
  justify-items: stretch;
  align-items: start;
  grid-template-columns: repeat(14, 1fr);
}
@media (max-width: 900px) {
  .ix-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 694px) {
  .ix-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 540px) {
  .ix-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ix-grid-item {
  background: #fff;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
  max-height: 340px;
  max-width: 340px;
  grid-column: span 2;
}

.ix-grid-item:hover {
  box-shadow: 0 0 0 2px rgb(0 191 254 / 40%);
}

.ix-grid-item-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
}
.ix-grid-item-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ix-grid-item-filename {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 auto;
  font-size: 14px;
  line-height: 20px;
  color: #6c7f8e;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  padding: 6px 10px;
  margin: 0px;
}

.ix-grid-item-filename:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, #fff 25%, #fff);
  background: linear-gradient(90deg, #fff 25%, hsla(0, 0%, 100%, 0));
}
