svg {
  all: revert;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.ix-btn {
  background: #fff;
}
.ix-dropdown {
  opacity: 0;
  height: 0;
  max-width: fit-content;
  min-width: 140px;
  margin-top: 0%;

  position: relative;
  /* z-index: -1; */
  max-height: 460px;
  overflow: auto;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), linear;
}
.ix-dropdown-open {
  position: absolute;
  opacity: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), linear;
}
.ix-dropdown .ix-btn {
  min-width: 100%;
}
.ix-btn-flat > .ix-btn {
  border-radius: 0px;
}
