html,
body {
  margin: 0;
  width: 600px;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

.input-form {
  padding: 24px;
}

.api-key-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #475f72;
  display: block;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}
.api-key-label svg {
  fill: #475f72;
  margin-right: 12px;
}

.api-key-input {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #475f72;
  letter-spacing: -0.1px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  border: 1px solid #d0d7dd;
  box-sizing: border-box;
  border-radius: 4px;
}
.api-key-input:focus {
  border-color: #00bffe;
  outline: none;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 19px;
}

.button-action-large {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 12px;

  position: static;
  height: 36px;
  left: 106px;
  top: 0px;

  background: #00bffe;
  box-shadow: 0px 2px 0px #eef0f2;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;

  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;

  cursor: pointer;
}
.button-action-large svg {
  margin-right: 8px;
  flex: 0 0 16px;
  fill: #fff;
  opacity: 0.6;
}
.button-action-large:disabled {
  cursor: not-allowed;
}

.button-save {
  background: #00bffe;
}
.button-save:hover {
  background: #33ccfe;
}
.button-save:active {
  background: #0099cb;
}
.button-save:disabled {
  opacity: 0.45;
}

.button-reset {
  background: #475f72;
}
.button-reset:hover {
  background: #6c7f8e;
}
.button-reset:active {
  background: #394c5b;
}
.button-reset:disabled {
  opacity: 0.45;
}

#post-save-instructions {
  margin: 16px 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #475f72;
}

#status {
  margin: 0 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
