@import "../../styles/Colors.module.scss";

.contentWrapper {
  display: flex;
}

.imageWrapper {
  background-color: $color_bg_new;
  overflow: hidden;
  display: flex;
  margin: 5px;
  max-width: 200px;
  position: relative;
}

.replaceImageButton {
  color: $color_invert_fg;
}

.assetButtonsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $type_size_small;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 30px;

  .assetButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: $type_size_small;
    justify-content: space-between;
    padding: 10px 0 10px 0px;
    width: 70px;

    p {
      margin-left: 10px;
    }
  }
}
