@import "../../../styles/Colors.module.scss";

@media (min-width: 900px) {
  .searchBaseInput {
    right: 100px;
  }
}

@media (min-width: 694px) {
  .searchWrapper {
    visibility: visible;
    position: relative;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
  }
  .searchBaseInput {
    left: 26px;
  }
}
// Form Styles
.searchContent {
  align-items: center;
  background-color: $color_invert_fg;
  border-radius: 4px;
  flex: 1 1 auto;
  height: 40px;
  max-height: 400px;
  transition: height ease-out 0.2s;
  z-index: 1;

  &.open {
    height: 500px;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
    transition: height ease-out 0.2s;
  }
}
// Form children styles
.searchWrapper {
  background: $color_bg;
  border: 1px solid $color_invert_chrome_tint;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 0px $color_bg_shade;
  border-radius: 3px;
  z-index: 1;
  display: flex;
  height: 40px;
  &.open {
    border: none;
    & > hr {
      border-color: $color_invert_chrome_tint;
      margin-top: 42px;
    }
  }
}
.searchWrapper:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: $color_bg;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* Search form input wrapper */
.searchBase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}
/* Search form input */
.searchBaseInput {
  position: absolute;
  top: 0;
  left: 16px;
  right: 50px;
  height: 100%;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), linear;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $color_fg;
  & input {
    color: $color_fg;
  }
  & input::placeholder {
    opacity: 1;
    color: $color_fg;
  }
}
.searchBaseInputField {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  color: inherit;
  flex: 1 1 auto;
  font: inherit;
  line-height: normal;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 0px 10px 0px;
  text-overflow: ellipsis;
  height: 20px;
}
.searchExpander {
  margin-top: 50px;
}
.searchBaseSuggestionsList {
  color: $color_fg;
  position: absolute;
  left: 0px;
  width: 100%;
  margin-top: 45px;
  padding-left: 16px;
}
.searchBaseSuggestionsList:first-child {
  padding-top: 24px;
}
.searchBaseSuggestionsListItem {
  display: flex;
  padding-bottom: 12px;
}
.searchBaseSuggestionsListItem:first-of-type {
  padding-top: 12px;
}

.searchBaseSuggestionsListItem > div {
  cursor: pointer;

  &:hover {
    text-decoration: underline $color_fg;
  }
}

.searchButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  height: 40px;
  padding: 0px;
  margin: 0px;
}

.searchButtons {
  padding-right: 10px;
  & .search {
    font-style: normal;
    font-weight: 500;
    font-size: 0.813rem; /* 13px */
    line-height: 0.94rem;
    text-transform: uppercase;
    & .searchIcon {
      width: 16px;
      height: 16px;
      fill: $color_invert_fg;
      opacity: 0.6;
    }
  }
  & .clear {
    font-style: normal;
    font-weight: 500;
    font-size: 0.813rem; /* 13px */
    line-height: 0.94rem;
    text-transform: uppercase;
    margin-right: 8px;
  }
  & .clear:hover {
    background-color: $color_fg_shade;
  }
  & .clear:active {
    background-color: $color_fg;
  }
  & .clearIcon {
    width: 16px;
    height: 16px;
    fill: $color_invert_fg;
    opacity: 0.6;
  }
}
/* Search form search icon svg */
.simpleSearchIcon > svg:not(:root) {
  overflow: hidden;
}
.simpleSearchIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: $color_fg;
}
//  Util
.hide {
  opacity: 0;
  transition: opacity ease-out 0.2s;
}
.show {
  opacity: 1;
  transition: opacity ease-out 0.2s;
}

hr {
  margin-top: 115px;
  margin-bottom: 27px;
  border: 0;
  height: 0;
  border-top: 1px solid $color_invert_fg;
  border-bottom: 1px solid $color_chrome_tint;
  position: absolute;
  top: -4px;
  width: 97%;
  left: 10px;
}
