@import "../../styles/Colors.module.scss";
.gridContainer {
  flex: 1 1 auto;
  max-height: 700px;
  overflow-y: scroll;
  padding: 4px;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gridItemPlaceholder {
  margin: 32px;
  height: 250px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.error {
  /* have text wrap into new lines */
  white-space: pre-wrap;
}
