.gridContainer {
  flex: 1 1 auto;
}

.gridItemPlaceholder {
  margin: 32px;
  height: 250px;
  border-radius: 4px;
  display: flex;
  background: #e3e7eb;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.error {
  /* have text wrap into new lines */
  white-space: pre-wrap;
}
