.assetBrowser {
  flex: 1 1 auto;
  background-color: #e3e7eb;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.assetTitleBarContainer {
  background-color: white;
  display: flex;
  align-items: stretch;
  padding: 8px 16px 8px 8px;
  height: 56px;
  flex: 0 0 auto;
}
.sourceSelect {
  width: 228px;
  flex: 0 1 auto;
}
.assetGridContainer {
  flex: 1 1 auto;
  padding: 32px 16px;
}
.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  flex: 0 0 8px;
}
