.container {
  flex: 1 1 auto;
  display: flex;
}

.arrowButton {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #475f72;
  box-shadow: 0px 2px 0px #e3e7eb;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  svg {
    fill: white;
  }
  &:not(.disabled):hover {
    background: #6c7f8e;
  }
  &:not(.disabled):active {
    background: #394c5b;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
}

.spacer12 {
  flex: 0 0 12px;
}

.pageSelectorContainer {
  flex: 1 0 auto;
  display: flex;
  border: 1px solid #d0d7dd;
  border-radius: 4px;
  background: white;
}

.currentPage {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #475f72;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 12px;
  margin-right: 12px;
}

.downArrowContainer {
  flex: 0 0 auto;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #d0d7dd;
  cursor: pointer;
  user-select: none;
}
